h1,
h2 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
}

.container-fluid {
  background-color: rgb(42, 111, 7);
  height: 80px;
}

.nav-link,
.navbar-brand {
  color: whitesmoke;
  font-weight: bold;
}

.nav-link:hover,
.navbar-brand:hover {
  color: black(215, 20, 20);
}

.form {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
