<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} STUDENT PAGE {% endblock %}
{% block content %}

<h1>NAME OF THE TEACHER: <i id="tName"></i></h1><br><br>
<h5>TIME LEFT: <i id="qTime"></i></h5><br><br>

<form class="form" action="/student" method="post">
    <h4>QUESTION FROM TEACHER: <i id="tQuestion"></i></h4><br><br>
    <label for="answer">
        <h4>ENTER YOUR ANSWER: </h4><br><br>
        <input type="text" name="answer" size="30px">
    </label><br><br>
    <h4>MARKS GIVEN: <i id="tMarks"></i></h4><br><br>
    <input type="submit" value="submit">
</form>

<h4>TOTAL QUESTIONS ASKED: <i id="totQues"></i></h4>
<h4>TOTAL MARKS: <i id="totMarks"></i></h4>
<h4>AVERAGE MARKS: <i id="avgMarks"></i></h4>

<div class="form">
    <h4>HINT: <i id="hint"></i></h4>
</div>



<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}
    $(document).ready(function () {
        function get_new_variable() {
            $.getJSON(
                $SCRIPT_ROOT + '/find',
                function (data) {
                    $('#tName').text(data.tName);
                    $('#tQuestion').text(data.tQuestion);
                    $('#qTime').text(data.qTime);
                    $('#tMarks').text(data.tMarks);
                    $('#totMarks').text(data.totMarks);
                    $('#totQues').text(data.totQues);
                    $('#avgMarks').text(data.avgMarks);
                    $('#hint').text(data.hint);
                }
            );
        }
        get_new_variable();
        window.setInterval(get_new_variable, 3000)
    });


</script>
{% endblock %}